*{
    box-sizing: border-box!important;
}
body {
    font: monospace 12px;
}
#screen {
    overflow: scroll;
}
.tile-spot {
    margin: 0px;
    padding: 0px;
}
.tile {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-weight: 900;
    width: 32px;
    height: 32px;
    user-select: none;
}
.tile-unknown, .tile-mine {
    border: 4px outset #2b3035;
    background-color: #2b3035;
    cursor: pointer;
}
.tile-bomb {
    background-color: #b02a37;
    border: 4px outset #b02a37 !important;
    color: white;
}
.tile-0 {
    background-color: #1a1d20 !important;
    border: 4px solid #2b3035 !important;
    color: #2b3035;
}
.tile-1 {
    border: 4px solid #0d6efd;
    background-color: #031633;
    color: #0d6efd;
}
.tile-2 {
    border: 4px solid #198754;
    background-color: #051b11;
    color: #198754;
}
.tile-3 {
    border: 4px solid #d63384;
    background-color: #2b0a1a;
    color: #d63384;
}
.tile-4 {
    border: 4px solid #8c68cd;
    background-color: #160d27;
    color: #8c68cd;
}
.tile-5 {
    border: 4px solid #ffc107;
    background-color: #332701;
    color: #ffc107;
}
.tile-6 {
    border: 4px solid #0dcaf0;
    background-color: #032830;
    color: #0dcaf0;
}
.tile-7 {
    border: 4px solid #fd7e14;
    background-color: #331904;
    color: #fd7e14;
}
.tile-8 {
    border: 4px solid white;
    background-color: black;
    color: white;
}
.tile-hint {
    border: 4px outset #20c997!important;
    background-color: #06281e!important;
    color: #20c997!important;
}
.tile-flag {
    border: 4px outset #b02a37!important;
    background-color: #b02a37!important;
    color: white!important;
}